<div class="col-md-10 col-md-offset-1">
    <h4 id="-">系統更新列表 (最近更新日期：2019/01/02)</h4>
    <ul>
        <li>
            <p>帳號管理</p>
            <ul>
                <li>身為管理者，可以在後台設定權限，權限分成管理者及員工</li>
                <li>身為管理者，可以管理員工帳號、密碼、職稱</li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>
            <p>帳號設定</p>
            <ul>
                <li>身為使用者，可以登入，並看到職稱、名稱</li>
                <li>身為使用者，可以登入修改帳號、密碼...等資料</li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            <p>系統管理→房間管理</p>
            <ul>
                <li>身為使用者，可以登入管理「房間」資料(如：房號、名稱、定價、假日價、旺日價...等)</li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            <p>系統管理→服務管理</p>
            <ul>
                <li>身為使用者，可以登入管理「服務」資料(如：名稱、定價...等)</li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            <p>系統管理→行事曆管理</p>
            <ul>
                <li>身為使用者，可以登入管理「行事曆」資料(如：平日、旺日、假日、連假...等)，系統會根據日期型態自動抓取對應房價</li>
            </ul>
        </li>
    </ul>

</div>
