<div class="col-md-10 col-md-offset-1">
    <h4 id="-">系統更新列表 (最近更新日期：2019/04/25)</h4>

    <ul>
        <li>
            <p>訂房/訂單管理→訂單登入</p>
            <ul>
              <li>功能維護：全部改成手動更改訂單狀態、不要自動變更訂單狀態</li>
              <li>功能維護：入住後仍可修改訂單內容</li>
              <li>功能維護：訂單輸入後可新增/刪除訂房、服務內容</li>
              <li>訂單管理：「未付訂清單」新增訂金欄位</li>
              <li>訂單輸入：新增「生日」欄位，訂單個資同步更新至客戶資料</li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>
            <p>帳號管理</p>
            <ul>
              <li>帳號管理：解決一般使用者登入問題，只有管理者可執行「帳號管理」和「統計報表->日報/週報/月報/年報」</li>
            </ul>
        </li>
    </ul>
    <ul>
      <li>
          <p>表單列印</p>
          <ul>
              <li>當日房客資料表：顯示「生日」資料、刪除「職業」欄位</li>
              <li>當日房客住宿明細：以訂單為主體顯示(若有多項房間/服務，只會顯示當日的項目)</li>
          </ul>
      </li>
    </ul>


    <hr />
    <ul>
      <li>
          <p>訂房/訂單管理→訂單登入</p>
          <ul>
            <li>訂購來源: 改由使用者自行輸入</li>
            <li>功能維護: 「訂單確認」改「付訂」，執行後不管訂金金額，一律將訂單狀態改為「已付訂」</li>
          </ul>

      </li>
    </ul>

    <ul>
      <li>
          <p>訂房/訂單管理→未付訂清單</p>
          <ul>
            <li>身為使用者，可以查看未付訂的所有訂單</li>
          </ul>
      </li>
    </ul>

    <ul>
      <li>
          <p>表單列印</p>
          <ul>
              <li>當日房客資料表：新增「日期」搜尋功能</li>
              <li>當日住宿簡表：新增「日期」搜尋功能</li>
              <li>當日房客住宿明細：新增「日期」搜尋功能</li>
          </ul>
      </li>
    </ul>

    <hr />
    <ul>
        <li>
            <p>訂房/訂單管理→訂單登入</p>
            <ul>
              <li>國別: 改由使用者自行輸入，當輸入值為「台灣」或「TW」(不分大小寫)時，首頁不顯示國別</li>
              <li>訂單輸入: 新增「地址」，拿掉「職業」、「生日」</li>
              <li>訂房紀錄: 若同一訂單有2間以上房間，只顯示1筆訂單，住房日期及房型則只顯示第1間房型的資料</li>
              <li>功能維護: 訂單明細已加入「末五碼」欄位</li>
              <li>訂單輸入: 表單只能用滑鼠點擊送出，避免按下Enter鍵送出</li>
              <li>訂單輸入: 增加「刪除房間」及「刪除服務」的功能</li>
              <li>訂單輸入: 「新增房間」後，能夠清楚知道是否已新增</li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            <p>管理首頁</p>
            <ul>
                <li>訂房狀態: 已更正，輸入訂金後會顯示最新訂單狀態(已付訂)</li>
            </ul>
        </li>
    </ul>

    <hr />
    <ul>
        <li>
            <p>管理首頁</p>
            <ul>
                <li>身為使用者，可以查看當週訂房狀況</li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            <p>系統管理→系統更新列表</p>
            <ul>
                <li>身為使用者，可以查看系統更新列表</li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            <p>系統管理→資料備份</p>
            <ul>
                <li>身為使用者，可以查看客戶、訂單、房價、服務等資料，並輸出為csv檔案</li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            <p>表單列印→當日房客資料表</p>
            <ul>
                <li>身為使用者，可以查看當日房客資料表，並輸出為PDF檔案</li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            <p>表單列印→當日住宿簡表</p>
            <ul>
                <li>身為使用者，可以查看當日住宿簡表，並輸出為PDF檔案</li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            <p>表單列印→當日房客明細表</p>
            <ul>
                <li>身為使用者，可以查看當日房客明細表，並輸出為PDF檔案</li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            <p>統計報表→年報</p>
            <ul>
                <li>身為使用者，可以查看一年月每月訂房統計資料</li>
                <li>身為使用者，可以查看每年訂房統計資料</li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            <p>統計報表→月報</p>
            <ul>
                <li>身為使用者，可以查看一個月每日訂房統計資料</li>
                <li>身為使用者，可以查看每月訂房統計資料</li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            <p>統計報表→周報</p>
            <ul>
                <li>身為使用者，可以查看一週每日訂房統計資料</li>
                <li>身為使用者，可以查看每週訂房統計資料</li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            <p>統計報表→日報</p>
            <ul>
                <li>身為使用者，可以查看當日訂房統計資料</li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            <p>接待/客戶管理→Check-in(當日入住名單)</p>
            <ul>
                <li>身為使用者，可以列出當日的入住名單資料(如：姓名、性別、手機...)</li>
                <li>ToDo: 身為使用者，可以點選該旅客個資 打開該旅客的訂單進行功能維護</li>
            </ul>
        </li>
    </ul>

    <hr />
    <ul>
        <li>
            <p>訂房/訂單管理→訂單登入</p>
            <ul>
                <li>身為使用者，可以依照姓名搜尋客戶資料</li>
                <li>查詢到客戶後，可以自動載入客戶過去訂房資料</li>
                <li>身為使用者，可以依照客戶需求新增房間資料</li>
                <li>身為使用者，可以依照客戶需求新增服務資料</li>
                <li>選擇完房間和服務後可自動計算相關付款金額</li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            <p>訂房/訂單管理→依房間查詢</p>
            <ul>
                <li>身為使用者，可以依照房間查看該房當月的訂房狀況</li>
                <li>點選訂單可以查看詳細訂單資料 </li>
            </ul>
        </li>
    </ul>

    <hr />
    <ul>
        <li>
            <p>接待/客戶管理→列出所有客戶</p>
            <ul>
                <li>身為使用者，可以查看所有客戶資料(如：姓名、性別、手機...)</li>
                <li>身為使用者，可以管理編輯所有客戶資料(如：姓名、性別、手機...)</li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            <p>接待/客戶管理→依客戶查詢</p>
            <ul>
                <li>身為使用者，可以依照客戶姓名、電話查詢客戶基本資料(如：姓名、性別、手機...)</li>
                <li>身為使用者，可以依照客戶姓名、電話查詢客戶所有訂單資料</li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            <p>接待/客戶管理→依日期查詢</p>
            <ul>
                <li>身為使用者，可以依照客戶的入住日期或訂單日期查詢客戶基本資料(如：姓名、性別、手機...)</li>
                <li>身為使用者，可以依照客戶的入住日期或訂單日期查詢客戶所有訂單資料</li>
            </ul>
        </li>
    </ul>

    <hr />
    <ul>
        <li>
            <p>系統管理→房價管理</p>
            <ul>
                <li>身為使用者，可以登入管理「房間」資料(如：房號、名稱、定價、假日價、旺日價...等)</li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            <p>系統管理→服務管理</p>
            <ul>
                <li>身為使用者，可以登入管理「服務」資料(如：名稱、定價...等)</li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            <p>系統管理→行事曆管理</p>
            <ul>
                <li>身為使用者，可以登入管理「行事曆」資料(如：平日、旺日、假日、連假...等)，系統會根據日期型態自動抓取對應房價</li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            <p>訂房/訂單管理→當月訂房狀況</p>
            <ul>
                <li>身為使用者，可以查看當月所有房型訂房狀況(如：訂購情形...)</li>
                <li>ToDo: 依訂房狀況顯示圖示(空房未訂/預定未付訂/預定已付訂/ 預定且結清) </li>
            </ul>
        </li>
    </ul>

    <hr />
    <ul>
        <li>
            <p>登入管理→帳號管理</p>
            <ul>
                <li>身為管理者，可以在後台設定權限，權限分成管理者及員工</li>
                <li>身為管理者，可以管理員工帳號、密碼、職稱</li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>
            <p>登入管理→帳號設定</p>
            <ul>
                <li>身為使用者，可以登入，並看到職稱、名稱</li>
                <li>身為使用者，可以登入修改帳號、密碼...等資料</li>
            </ul>
        </li>
    </ul>



</div>
