<div class="col-md-10 col-md-offset-1">
    <h4 id="-">系統更新列表 (最近更新日期：2019/01/31)</h4>

    <ul>
        <li>
            <p>訂房/訂單管理→依房間查詢</p>
            <ul>
                <li>身為使用者，可以依照房間查看該房當月的訂房狀況</li>
                <li>ToDo: 點選訂單可以查看詳細訂單資料 </li>
            </ul>
        </li>
    </ul>

    <hr />
    <ul>
        <li>
            <p>接待/客戶管理→列出所有客戶</p>
            <ul>
                <li>身為使用者，可以查看所有客戶資料(如：姓名、性別、手機...)</li>
                <li>身為使用者，可以管理編輯所有客戶資料(如：姓名、性別、手機...)</li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            <p>接待/客戶管理→依客戶查詢</p>
            <ul>
                <li>身為使用者，可以依照客戶姓名、電話查詢客戶基本資料(如：姓名、性別、手機...)</li>
                <li>身為使用者，可以依照客戶姓名、電話查詢客戶所有訂單資料</li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            <p>接待/客戶管理→依日期查詢</p>
            <ul>
                <li>身為使用者，可以依照客戶的入住日期或訂單日期查詢客戶基本資料(如：姓名、性別、手機...)</li>
                <li>身為使用者，可以依照客戶的入住日期或訂單日期查詢客戶所有訂單資料</li>
            </ul>
        </li>
    </ul>

    <hr />
    <ul>
        <li>
            <p>系統管理→房價管理</p>
            <ul>
                <li>身為使用者，可以登入管理「房間」資料(如：房號、名稱、定價、假日價、旺日價...等)</li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            <p>系統管理→服務管理</p>
            <ul>
                <li>身為使用者，可以登入管理「服務」資料(如：名稱、定價...等)</li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            <p>系統管理→行事曆管理</p>
            <ul>
                <li>身為使用者，可以登入管理「行事曆」資料(如：平日、旺日、假日、連假...等)，系統會根據日期型態自動抓取對應房價</li>
            </ul>
        </li>
    </ul>

    <ul>
        <li>
            <p>訂房/訂單管理→當月訂房狀況</p>
            <ul>
                <li>身為使用者，可以查看當月所有房型訂房狀況(如：訂購情形...)</li>
                <li>ToDo: 依訂房狀況顯示圖示(空房未訂/預定未付訂/預定已付訂/ 預定且結清) </li>
            </ul>
        </li>
    </ul>

    <hr />
    <ul>
        <li>
            <p>登入管理→帳號管理</p>
            <ul>
                <li>身為管理者，可以在後台設定權限，權限分成管理者及員工</li>
                <li>身為管理者，可以管理員工帳號、密碼、職稱</li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>
            <p>登入管理→帳號設定</p>
            <ul>
                <li>身為使用者，可以登入，並看到職稱、名稱</li>
                <li>身為使用者，可以登入修改帳號、密碼...等資料</li>
            </ul>
        </li>
    </ul>



</div>
