<div class="col-md-10 col-md-offset-1">
    <h4 id="-">系統更新列表 (最近更新日期：2018/11/29)</h4>
    <ul>
        <li>
            <p>身為商家的管理者，要能夠在後台設定權限，權限分成管理者及員工</p>
            <ul>
                <li>身為管理者，可以管理員工帳號、密碼、職稱</li>
                <li>身為商家員工，可以登入，並看到職稱、名稱</li>
            </ul>
        </li>
    </ul>
</div>
