<div class="col-md-12 col-md-offset-0">
  <h4>日報(每日營收統計)</h4>
  <%= render partial: "common/searchday", locals: { search_path: daily_statistics_path, search_date: @search_date }  %>

  <table class="table table-bordered table-hover">
    <thead >
      <%= render partial: "dailyheader" %>
    </thead>
    <tbody>
      <tr >
        <% @daily_statistics.each do | item | %>
          <td><%= item %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>

