
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="clientModalLabel">搜尋到的客戶列表</h4>
      </div>
      <div class="modal-body">
          <table class="table table-bordered table-hover">
            <thead>
              <tr class="active">
                <th>功能</th>
                <th>名稱</th>
                <th>手機</th>
                <th>國籍</th>
              </tr>
            </thead>
            <tbody>
              <% @clients.each do |client| %>
                <tr>
                  <td><%= link_to("選取", new_order_path(client_id: client), class: "btn btn-primary")%></td>
                  <td><%= client.name %></td>
                  <td><%= client.mobile %></td>
                  <td><%= client.country %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>

