
<div class="col-md-10 col-md-offset-1">
  <h3>新增訂單</h3>

  <hr>
  <%= render "form", order: @order %>

</div>

<!--bootstrap modal放的地方，初始值沒有任何東西-->
<div id="searchModal" class="modal fade" tabindex="-1" role="dialog"></div>

